body {
margin: 0;
padding: 0;
font-family: montserrat;
background: linear-gradient(150deg, #61bae4, #e28d8d);
height: 100vh;

}
.formulario {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 400px;
background: white;
border-radius: 10px;

}
.formulario h1 {
text-align: center;
padding: 20px;
border-bottom: 1px solid #ffffff;
}
.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}
form .username {
    position: relative;
    border-bottom: 2px solid #adadad ;
    margin: 30px 0;

}
.username input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}
.username label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.username span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.username input:focus ~ label,
.username input:valid ~ label {
    top: -5px;
    color: #2691d9;
    font-size: 12px;
}
.username input:focus ~ span::before,
.username input:valid ~ span::before {
    width: 100%;
}

form .contraseña {
    position: relative;
    border-bottom: 2px solid #adadad ;
    margin: 30px 0;
}
.contraseña input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}
.contraseña label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.contraseña span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.contraseña input:focus ~ label,
.contraseña input:valid ~ label {
    top: -5px;
    color: #2691d9;
    font-size: 12px;
}
.contraseña input:focus ~ span::before,
.contraseña input:valid ~ span::before {
    width: 100%;
}

.recordar {
    margin: -15px 0 15px;
    color:#19016d;
    cursor: pointer;
   
}
.recordar:hover{
    text-decoration: underline;
}
input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}   
.recordara {
    margin: -15px 0 20px 5px;
    color: #2632d9;
    cursor:pointer;

}
.recordara:hover{
    text-decoration: underline;
}
input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
    background: #ffffff;
    color: #2691d9;
}
.registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #262626;
}
.registrarse a {
    color: #2691d9;
    text-decoration: none;
    font-weight: 600;
}
.registrarse a:hover {
    text-decoration: underline;
}   